/* SCROLLBARS */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background: #EDEDED;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #CBCBCB;
}
[v-cloak] {
  display: none;
}
body{
    background: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}


h1{
    font-size: 260px;
    margin: 0 !important;
    font-family: 'EB Garamond', serif;
    text-align: center;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;
}


#intro{
    transition: all 1.3s;
    height: 100vh;
    opacity: 0;
    writing-mode: vertical-rl;
    position: relative;
    z-index: 9999;
}
#intro.opened{
    opacity: 1;
}
#intro:after {
  /* content is required when using :after */
  content: "";
  /* The animation */
  animation: grain 8s steps(10) infinite;
  /* The grainy image */
  background-image: url("./assets/grain-b.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 1;
  position: fixed;
  top: -100%;
  width: 300%;
}
@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

.desc{
     position:relative;
     z-index:9999;
     padding: 0 40px;
}

p{
    font-size: 22px;
}
.films{
    position: relative;
    padding-top: 5px;
    z-index: 9999;
}
.item{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 40px;
}
.item:hover{
    cursor: pointer;
}

.item:before {
	 display: block;
	 content: "";
	 width: 100%;
	 padding-top: 177.7777777778%;
}
.item > .inner {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
}
.inner > h2{
    font-family: 'EB Garamond', serif;
    font-size: 200px;
    writing-mode: vertical-rl;
}



#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#modal.closed{
    display: none;
}

#modal .columns{
    height: calc(100vh - 60px);
    display: flex;

}
#modal .column{

    width: 50%;
    padding: 2px;
}
#modal .videoContainer{
    overflow: hidden;
    display: flex;
}
video{
    flex: 1 0 0;
}
#modal .videoMetadata{
    overflow-y: auto;
}
.cerrar{
    height: 60px;
    font-size: 25px;
    margin-top: 10px;
    color: #5c5c5c;
    text-align: center;
}
.cerrar:hover{
    cursor: pointer;
}


.fullscreen{
    height: 100vh;
    overflow: hidden;
}


.cursores{
    position: absolute;
}
.cursor{
    transition: all 1s;
    position: relative;
    width: 5px;
    height: 5px;
    background: #fff;
    z-index: 99999999999;
    border-radius: 50%;
}
